<include file="block:header" />
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-defaul">
                <ol class="breadcrumb">
                    <li><a href="index.php?m=topic&a=index">话题</a></li>
                    <li class="active">二次开发</li>
                </ol>
                <div class="panel-heading">
                    二次开发 </div>
                <div class="panel-body">
                    <ul class="media-list talk-topic">
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1332" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar" width="50" height="50">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=270"> 请问怎么用wemall二次开发小程序</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=4">二次开发</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1332" class="text-muted">2746175312</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">23 小时前</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>18                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1304" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar" width="50" height="50">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=246"> 测试------123123</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=4">二次开发</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1304" class="text-muted">15225196330</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">2016年12月13日</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>86                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1134" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar" width="50" height="50">
                            </a>
                            <div class="media-body">
                                <div class="badge pull-right">1</div>
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=155"> 微信订阅号自定义菜单添加不成功</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=4">二次开发</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1134" class="text-muted">荒木舟</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">2016年8月07日</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>395                                    </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                        <a href="index.php?m=user&a=index&uid=1" class="text-muted">  admin</a>
                                    </span> </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1110" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar" width="50" height="50">
                            </a>
                            <div class="media-body">
                                <div class="badge pull-right">1</div>
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=152"> 开源的微商城可否安装在二级目录呢？</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=4">二次开发</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1110" class="text-muted">sinceway</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">2016年7月27日</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>325                                    </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                        <a href="index.php?m=user&a=index&uid=1" class="text-muted">  admin</a>
                                    </span> </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1090" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar" width="50" height="50">
                            </a>
                            <div class="media-body">
                                <div class="badge pull-right">1</div>
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=147"> wemall的微商城用着怎么样啊？</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=4">二次开发</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1090" class="text-muted">骑士</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">2016年7月08日</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>597                                    </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                        <a href="index.php?m=user&a=index&uid=1087" class="text-muted">  lc312</a>
                                    </span> </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1087" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar" width="50" height="50">
                            </a>
                            <div class="media-body">
                                <div class="badge pull-right">1</div>
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=146"> wemall微商城APP的有没有成品展示啊</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=4">二次开发</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1087" class="text-muted">lc312</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">2016年7月08日</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>242                                    </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                        <a href="index.php?m=user&a=index&uid=1" class="text-muted">  admin</a>
                                    </span> </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1071" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar" width="50" height="50">
                            </a>
                            <div class="media-body">
                                <div class="badge pull-right">1</div>
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=134"> WeMall微商城是否适合二次开发？</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=4">二次开发</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1071" class="text-muted">xiaoxin</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">2016年6月22日</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>562                                    </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                        <a href="index.php?m=user&a=index&uid=1" class="text-muted">  admin</a>
                                    </span> </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1071" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar" width="50" height="50">
                            </a>
                            <div class="media-body">
                                <div class="badge pull-right">1</div>
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=135"> 我直接购买WeMall微商城产品，是否就等于获得商业授权？</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=4">二次开发</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1071" class="text-muted">xiaoxin</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">2016年6月22日</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>394                                    </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                        <a href="index.php?m=user&a=index&uid=1" class="text-muted">  admin</a>
                                    </span> </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1070" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar" width="50" height="50">
                            </a>
                            <div class="media-body">
                                <div class="badge pull-right">1</div>
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=133"> 系统是否有二次开发文档？</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=4">二次开发</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1070" class="text-muted">niuniu</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">2016年6月22日</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>371                                    </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                        <a href="index.php?m=user&a=index&uid=1" class="text-muted">  admin</a>
                                    </span> </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1041" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar" width="50" height="50">
                            </a>
                            <div class="media-body">
                                <div class="badge pull-right">1</div>
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=129"> token验证失败 怎么解决？？？</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=4">二次开发</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1041" class="text-muted">hejiajian</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">2016年5月26日</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>482                                    </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                        <a href="index.php?m=user&a=index&uid=1065" class="text-muted">  easeclick</a>
                                    </span> </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="block:footer" />