<include file="block:header" />
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel">
                <ol class="breadcrumb">
                    <li><a href="index.php?m=topic&a=index">话题</a></li>
                    <li class="active"><a href="index.php?m=topic&a=category&cid=2">系统发布</a></li>
                </ol>
                <div class="panel-heading">
                    <h4>WeMall开源微商城更新：支持微信小程序</h4>
                </div>
                <div class="panel-body">
                    <ul class="media-list talk-posts" id="talk-posts">
                        <li class="media" id="post-548">
                            <a href="index.php?m=user&a=index&uid=1" class="pull-left hidden-xs ">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <span class="username"><a href="index.php?m=user&a=index&uid=1">admin</a></span>
                                    <small class="timeago" original-title="2016年10月19日 10:28:53">2016年10月19日</small>
                                </h4>
                                <div class="content">
                                    <table cellspacing="0" cellpadding="0" style="word-wrap: break-word; outline: none; empty-cells: show; table-layout: fixed; width: 1584px; color: rgb(0, 0, 0); font-family: Tahoma, &quot;Microsoft Yahei&quot;, Simsun; font-size: 14px; line-height: 21px; white-space: normal; background-color: rgb(232, 232, 232);">
                                        <tbody style="word-wrap: break-word; outline: none;">
                                        <tr style="word-wrap: break-word; outline: none;">
                                            <td class="t_f" id="postmessage_488648" style="word-wrap: break-word; outline: none; word-break: break-all; font-size: 15px;"><span style="word-wrap: break-word; outline: none; font-weight: 700;color:#FF0000;word-wrap: break-word; outline: none;"></span>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">WeMall开源版微商城更新：</span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">更新版特色</span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">1.支持微信小程序</span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">2.支持订阅号，服务号和企业号</span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">3.适合学习和研究</span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">4.基于thinkphp3.2.3</span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">简介</span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">wemall微信商城地址是<a href="http://www.wemallshop.com/" target="_blank" class="gj_safe_a" style="word-wrap: break-word; outline: none; color: rgb(0, 102, 153); text-decoration: underline;">http://www.wemallshop.com</a>。 适用于小企业电子商务，例如微信水果，微信蔬菜，微信外卖，微信超市等等功能。</span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">1、快速创建微信商城； 一杯茶的时间创建您的微信商城。</span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">2、丰富的界面； 简洁美观的界面，美轮美奂。</span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">3、功能强大的系统； 商品，订单，微信等11种功能，全面覆盖。</span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">4、多种屏幕预览； 持多种型号手机，平板的预览，保障用户体验。</span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">5、全网高速访问； 借助公司的CDN骨干网，全网高速访问您的微信商城，畅享飞速体验。</span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"><img id="aimg_xWX44" class="zoom" file="http://wemallshop.com/uploads/2016-10-15/09fc8ae0-92aa-11e6-8329-bde5dfa4f767.jpg" lazyloadthumb="1" border="0" alt="" src="http://wemallshop.com/uploads/2016-10-15/09fc8ae0-92aa-11e6-8329-bde5dfa4f767.jpg" lazyloaded="true" width="620" height="305" style="word-wrap: break-word; outline: none; cursor: pointer;"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">体验请搜索官方微信号:myinuoer</span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">官网：<a href="http://www.wemallshop.com/" target="_blank" class="gj_safe_a" style="word-wrap: break-word; outline: none; color: rgb(0, 102, 153); text-decoration: underline;">www.wemallshop.com</a></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);"></span></p>
                                                <p style="word-wrap: break-word; outline: none; margin-top: 0px; margin-bottom: 0px; padding: 0px; line-height: 25px;"><span style="word-wrap: break-word; outline: none; color: rgb(62, 62, 62);">论坛：<span style="word-wrap: break-word; outline: none; color: rgb(51, 51, 51);word-wrap: break-word; outline: none; background-color: transparent;"><a href="" target="_blank" class="gj_safe_a" style="word-wrap: break-word; outline: none; color: rgb(0, 102, 153); text-decoration: underline;"></a></span></span>
                                                </p>
                                                <table cellspacing="0" class="t_table" style="word-wrap: break-word; outline: none; empty-cells: show; border: 1px solid rgb(227, 237, 245); table-layout: auto; width: 1551px;">
                                                    <tbody style="word-wrap: break-word; outline: none;">
                                                    <tr style="word-wrap: break-word; outline: none;">
                                                        <td style="word-wrap: break-word; outline: none; word-break: break-all; padding: 4px; border-color: rgb(227, 237, 245); overflow: hidden;"><img id="aimg_SNJDI" class="zoom" file="http://wemallshop.com/uploads/2016-10-15/11e70ff0-92aa-11e6-8329-bde5dfa4f767.jpg" lazyloadthumb="1" border="0" alt="" src="http://wemallshop.com/uploads/2016-10-15/11e70ff0-92aa-11e6-8329-bde5dfa4f767.jpg" lazyloaded="true" width="728" height="160" style="word-wrap: break-word; outline: none; cursor: pointer;">
                                                            <br/>
                                                            <br/>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p>
                                        <br/>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="media" id="post-560">
                            <a href="index.php?m=user&a=index&uid=1092" class="pull-left  ">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <span class="username"><a href="index.php?m=user&a=index&uid=1092">嘟嘟</a></span>
                                    <small class="timeago" original-title="2016年11月10日 10:32:00">2016年11月10日</small>
                                </h4>
                                <div class="content">
                                    支持 </div>
                            </div>
                        </li>
                        <li class="media" id="post-564">
                            <a href="index.php?m=user&a=index&uid=1" class="pull-left  ">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <span class="username"><a href="index.php?m=user&a=index&uid=1">admin</a></span>
                                    <small class="timeago" original-title="2016年11月10日 10:36:38">2016年11月10日</small>
                                </h4>
                                <div class="content">
                                    wemall最新源码下载地址：http://www.koahub.com/home/product/shop/1 </div>
                            </div>
                        </li>
                        <li class="media" id="post-679">
                            <a href="index.php?m=user&a=index&uid=1332" class="pull-left  ">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <span class="username"><a href="index.php?m=user&a=index&uid=1332">2746175312</a></span>
                                    <small class="timeago" original-title="2017年02月08日 11:31:23">23 小时前</small>
                                </h4>
                                <div class="content">
                                    请问怎么支持小程序？ </div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center">
                    </div>
                    <script id="posts" type="text/x-jquery-tmpl">
                            <li class="media">
                                <a href="${space}" class="pull-left">
                                    <img src="${avatar}" class="talk-avatar" width="50" height="50">
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading">
                                    <span class="username"><a href="${space}">${username}</a></span>
                                    <small class="timeago">刚刚</small>
                                </h5>
                                    <div class="content">
                                        {{html content}}
                                    </div>
                                </div>
                            </li>
                        </script>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <p class="text-center"><a href="index.php?m=user&a=login">登录</a>或者<a href="index.php?m=user&a=signup">注册</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="block:footer" />