<include file="block:header" />
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel">
                <div class="panel-heading">推荐话题</div>
                <div class="panel-body">
                    <ul class="media-list talk-topic">
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <div class="badge pull-right">20</div>
                                <h4 class="media-heading">
                                    <a href="index.php?m=topic&a=detail&tid=123"> wemall3.4更新 内核升级tp3.2.3</a>
                                </h4>
                                <div class="extra">
                                        <span class="category">
                                           <a href="index.php?m=topic&a=category&cid=2">系统发布</a>
                                        </span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                           <a href="index.php?m=user&a=index&uid=1">admin</a>
                                        </span>
                                    <span class="slant">•</span>
                                    <small class="timeago" original-title="">2016年3月17日</small>
                                    <span class="slant">•</span>
                                    <span class="username">
                                            <i class="fa fa-eye"></i>7664                                        </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                            <a href="index.php?m=user&a=index&uid=1">  admin</a>
                                        </span>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <div class="badge pull-right">3</div>
                                <h4 class="media-heading">
                                    <a href="index.php?m=topic&a=detail&tid=200"> WeMall开源微商城更新：支持微信小程序</a>
                                </h4>
                                <div class="extra">
                                        <span class="category">
                                           <a href="index.php?m=topic&a=category&cid=2">系统发布</a>
                                        </span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                           <a href="index.php?m=user&a=index&uid=1">admin</a>
                                        </span>
                                    <span class="slant">•</span>
                                    <small class="timeago" original-title="">2016年10月19日</small>
                                    <span class="slant">•</span>
                                    <span class="username">
                                            <i class="fa fa-eye"></i>1287                                        </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                            <a href="index.php?m=user&a=index&uid=1332">  2746175312</a>
                                        </span>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="index.php?m=topic&a=detail&tid=262"> WeMall千万新年豪礼送达，速领！</a>
                                </h4>
                                <div class="extra">
                                        <span class="category">
                                           <a href="index.php?m=topic&a=category&cid=2">系统发布</a>
                                        </span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                           <a href="index.php?m=user&a=index&uid=1">admin</a>
                                        </span>
                                    <span class="slant">•</span>
                                    <small class="timeago" original-title="">4 周前</small>
                                    <span class="slant">•</span>
                                    <span class="username">
                                            <i class="fa fa-eye"></i>46                                        </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                            <a href="index.php?m=user&a=index&uid=1">  admin</a>
                                        </span>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="index.php?m=topic&a=detail&tid=263"> 迅猫移动智能商城系统源码开售！实力派！</a>
                                </h4>
                                <div class="extra">
                                        <span class="category">
                                           <a href="index.php?m=topic&a=category&cid=2">系统发布</a>
                                        </span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                           <a href="index.php?m=user&a=index&uid=1">admin</a>
                                        </span>
                                    <span class="slant">•</span>
                                    <small class="timeago" original-title="">4 周前</small>
                                    <span class="slant">•</span>
                                    <span class="username">
                                            <i class="fa fa-eye"></i>81                                        </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                            <a href="index.php?m=user&a=index&uid=1">  admin</a>
                                        </span>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="index.php?m=topic&a=detail&tid=264"> 单用户商城微信端姗姗来迟！</a>
                                </h4>
                                <div class="extra">
                                        <span class="category">
                                           <a href="index.php?m=topic&a=category&cid=2">系统发布</a>
                                        </span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                           <a href="index.php?m=user&a=index&uid=1">admin</a>
                                        </span>
                                    <span class="slant">•</span>
                                    <small class="timeago" original-title="">4 周前</small>
                                    <span class="slant">•</span>
                                    <span class="username">
                                            <i class="fa fa-eye"></i>99                                        </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                            <a href="index.php?m=user&a=index&uid=1">  admin</a>
                                        </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">最新话题</div>
                <div class="panel-body">
                    <ul class="media-list talk-topic">
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1332" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=270"> 请问怎么用wemall二次开发小程序</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=4">二次开发</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1332">2746175312</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">23 小时前</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>17                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <div class="badge pull-right">3</div>
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=200"> WeMall开源微商城更新：支持微信小程序</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=2">系统发布</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1">admin</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">2016年10月19日</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>1287                                    </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                        <a href="index.php?m=user&a=index&uid=1332">  2746175312</a>
                                    </span> </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1330" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <div class="badge pull-right">8</div>
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=269"> ssssssss</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=8">视频教程</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1330">wupz</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">3天前</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>12                                    </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                        <a href="index.php?m=user&a=index&uid=1330">  wupz</a>
                                    </span> </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1330" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <div class="badge pull-right">4</div>
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=268"> 123</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=2">系统发布</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1330">wupz</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">3天前</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>13                                    </span>
                                    <span class="slant">•</span>
                                    <span>最后回复
                                        <a href="index.php?m=user&a=index&uid=1330">  wupz</a>
                                    </span> </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1230" class="pull-left">
                                <img src="Public/upload/avatar/000/00/12/30_avatar_middle.jpg" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=267"> WeMall小程序春节后上线！</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=5">意见建议</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1230">wemallshop135</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">4 周前</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>76                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1230" class="pull-left">
                                <img src="Public/upload/avatar/000/00/12/30_avatar_middle.jpg" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=266"> 迅猫移动智能商城系统源码开售！实力派！</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=5">意见建议</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1230">wemallshop135</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">4 周前</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>59                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=265"> WeMall小程序春节后上线！</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=2">系统发布</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1">admin</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">4 周前</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>39                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=264"> 单用户商城微信端姗姗来迟！</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=2">系统发布</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1">admin</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">4 周前</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>99                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=263"> 迅猫移动智能商城系统源码开售！实力派！</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=2">系统发布</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1">admin</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">4 周前</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>81                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="index.php?m=user&a=index&uid=1" class="pull-left">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=topic&a=detail&tid=262"> WeMall千万新年豪礼送达，速领！</a></h4>
                                <div class="extra">
                                        <span class="category">
                                       <a href="index.php?m=topic&a=category&cid=2">系统发布</a>
                                    </span>
                                    <span class="slant">•</span>
                                    <a href="index.php?m=user&a=index&uid=1">admin</a>
                                    <span class="slant">•</span>
                                    <span class="timeago">4 周前</span>
                                    <span class="slant">•</span>
                                    <span class="username">
                                        <i class="fa fa-eye"></i>46                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center">
                        <ul class="pagination">
                            <li class="disabled"><a href="">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="index.php?m=topic&a=index&page=2">2</a></li>
                            <li><a href="index.php?m=topic&a=index&page=3">3</a></li>
                            <li><a href="index.php?m=topic&a=index&page=4">4</a></li>
                            <li><a href="index.php?m=topic&a=index&page=5">5</a></li>
                            <li><a href="index.php?m=topic&a=index&page=6">6</a></li>
                            <li><a href="index.php?m=topic&a=index&page=7">7</a></li>
                            <li><a href="index.php?m=topic&a=index&page=8">8</a></li>
                            <li><a href="index.php?m=topic&a=index&page=9">9</a></li>
                            <li><a href="index.php?m=topic&a=index&page=10">10</a></li>
                            <li><a class="next" href="index.php?m=topic&a=index&page=2">&raquo</a></li>
                            <li><a href="index.php?m=topic&a=index&page=26">26</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="block:footer" />