<include file="block:header" />
<div class="container">
    <include file="User:usercommon" />
    <div class="row">
        <div class="col-md-12">
            <div class="user-action panel">
                <ul class="nav nav-tabs">
                    <li><a href="index.php?m=user&a=index&uid=1">话题</a></li>
                    <li><a href="index.php?m=user&a=followers&uid=1">关注</a></li>
                    <li class="active"><a href="index.php?m=user&a=fans&uid=1">粉丝</a></li>
                </ul>
                <div class="tab-content">
                    <ul class="media-list">
                        <li class="media">
                            <a class="pull-left" href="index.php?m=user&a=index&uid=1330">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=user&a=index&uid=1330">wupz</a></h4>
                                <p>还没有个人介绍</p>
                            </div>
                        </li>
                        <li class="media">
                            <a class="pull-left" href="index.php?m=user&a=index&uid=1227">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=user&a=index&uid=1227">feng</a></h4>
                                <p>还没有个人介绍</p>
                            </div>
                        </li>
                        <li class="media">
                            <a class="pull-left" href="index.php?m=user&a=index&uid=957">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=user&a=index&uid=957">raymall</a></h4>
                                <p>还没有个人介绍</p>
                            </div>
                        </li>
                        <li class="media">
                            <a class="pull-left" href="index.php?m=user&a=index&uid=862">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=user&a=index&uid=862">1qwe12qw12</a></h4>
                                <p>还没有个人介绍</p>
                            </div>
                        </li>
                        <li class="media">
                            <a class="pull-left" href="index.php?m=user&a=index&uid=599">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=user&a=index&uid=599">Hugh123</a></h4>
                                <p>还没有个人介绍</p>
                            </div>
                        </li>
                        <li class="media">
                            <a class="pull-left" href="index.php?m=user&a=index&uid=427">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=user&a=index&uid=427">max</a></h4>
                                <p>还没有个人介绍</p>
                            </div>
                        </li>
                        <li class="media">
                            <a class="pull-left" href="index.php?m=user&a=index&uid=368">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=user&a=index&uid=368">mlosun</a></h4>
                                <p>还没有个人介绍</p>
                            </div>
                        </li>
                        <li class="media">
                            <a class="pull-left" href="index.php?m=user&a=index&uid=390">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=user&a=index&uid=390">maytomo</a></h4>
                                <p>还没有个人介绍</p>
                            </div>
                        </li>
                        <li class="media">
                            <a class="pull-left" href="index.php?m=user&a=index&uid=204">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=user&a=index&uid=204">feebas</a></h4>
                                <p>还没有个人介绍</p>
                            </div>
                        </li>
                        <li class="media">
                            <a class="pull-left" href="index.php?m=user&a=index&uid=176">
                                <img src="Public/img/no_avatar_middle.png" class="talk-avatar middle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="index.php?m=user&a=index&uid=176">WebMaster</a></h4>
                                <p>还没有个人介绍</p>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center">
                        <ul class="pagination">
                            <li class="disabled"><a href="">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="index.php?m=user&a=fans&uid=1&page=2">2</a></li>
                            <li><a class="next" href="index.php?m=user&a=fans&uid=1&page=2">&raquo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="block:footer" />