<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <ul class="media-list talk-user">
                    <li class="media">
                        <img src="Public/img/no_avatar_big.png" class="talk-avatar big pull-left">
                        <div class="media-body">
                            <h3>admin</h3>
                            <ul>
                                <li>
                                    <strong>2014-06-03</strong> 加入
                                    <span class="slant">•</span> <strong>85525</strong> 积分
                                </li>
                                <li>
                                </li>
                                <li>
                                    还没有个人介绍 </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>